.donate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donate > h1{
    text-align: center;
    margin-top: 20px;
    flex: 0.2;
}



.donatePic{
    text-align: center;
    display: flex;
    justify-content: center;
    flex: 0.6;
    width: 400px;
    height: 400px;
}